<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<hr style="border : 2px solid rgb(3, 199, 90)">
<br>
<br>
<div style="justify-content: center;">
  <div style="margin:100px; display: flex; justify-content: space-between;">
    <main style="width: 48%">
      <div style="width: max-content;">
        <div>Woori Calendar</div>
        <h1><span style="color: rgb(3, 199, 90)">E-mail verification</span>This is a guide.</h1>
        <br>
        <br>
        <p>Hello<br>
          Thank you very much for using our calendar.<br>
          under
          <b>Authorization Code</b>
          to complete the password change.<br>
          thank you<br>
        </p>
        <br>
        <p> Return to the password change window and enter the code below.</p>
        <br>
      </div>
    </main>
    <aside style="width: 48%">
      <di style="width: max-content;">
        <img src="cid:logo" style="width: 300px">
      </di>
    </aside>
  </div>
</div>
<hr>
<div align="center">
  <h3 style="color:rgb(3, 199, 90)">
    This is the password authentication code. </h3>
  <div style="font-size:130%" th:text="${code}">asv342fe</div>
</div>
<br/>
<hr style="border : 2px solid rgb(3, 199, 90)">
<div align="center">
  <span>Copyright &copy; Woori Calendar</span>
</div>
</body>
</html>